Hi <%= name %>,

Congratulations, now you can successfully use <%= company %>'s logo for printing purpose.

We have attached the logo files in SVG, PNG, JPEG and PDF formats with this email.
You can also download these files from "My Designs" page of <a href="https://www.tagbit.co/mydesigns">Our website</a> at any time!!

So, the next step is creating business cards with your logo. Choose one of your favourite template and personalize your business card now.

Regards,
Tagbit Team