

				<tr>
					<td><p style="font-size: 13px; color:#1e1e1e;">If you have any queries or doubts, feel free to reach us at <a style="color:#2ac1c0; padding:10px 0; text-decoration:none;" href="mailto:support@tagbit.co">support@tagbit.co</a>.<br>We will be delighted to assist you.</p></td>
				</tr>
				<tr>
					<td>
						<table width="100%" cellspacing="0" cellpadding="0" style="background: #f8f8f8; padding: 15px; text-align: center;"><!-- /Footer -->
							<tr>
								<td>
									<h4 style="font-size: 14px; color: #757575;">FOLLOW US ON</h4>
								</td>
							</tr>
							<tr>
								<td>
									<div style="text-align:center;">
										<a href="https://www.facebook.com/tagbit?ref=tn_tnmn" target="_blank"  title="Facebook" style="height: 42px; width: 42px; background: url(<%= base %>/img/email/footer_social_media.png) 0 0 no-repeat; display:inline-block;"></a>
										<a href="https://twitter.com/FreeLogoOnline" target="_blank" title="Twitter" style="background: url(<%= base %>/img/email/footer_social_media.png) -44px 0 no-repeat; height: 42px; width: 42px; display:inline-block;"></a>
										<a href="https://plus.google.com/u/0/+tagbitmake-logo-online/about" target="_blank" title="Google +" style="background: url(<%= base %>/img/email/footer_social_media.png) -89px 0 no-repeat; height: 42px; width: 42px; display:inline-block;"></a>
										<a href="https://www.linkedin.com/company/online-free-logo?trk=biz-companies-cym" title="LinkedIn" style="background: url(<%= base %>/img/email/footer_social_media.png) -134px 0 no-repeat; height: 42px; width: 42px; display:inline-block;"></a>
									</div>
								</td>
							</tr>
						</table><!-- /Footer -->
					</td>
				</tr>
			</table><!-- /.Inner Wrapper -->
		</td>
	</tr>
</table><!-- /.Wrapper -->
</body>
</html>