<div style="background:#fff;text-align:center">
    <div style="background:#fff;border:1px solid #a9a9a9;width:700px;margin:auto">
        <img class="CToWUd">
        <table style="width:640px;margin:auto;background:#fff;font:normal 13px arial;color:#173e55" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td colspan="4">
                        <br>Dear <span style="color:#f5821f"><%= name %></span>,
                        <br>
                        <br>Thank you for placing an order with <a style="color:#3bb9ff" href="https://www.tagbit.co" target="_blank">Tagbit.co</a>.
                        <br>
                        <br>We would like to inform you that your Order # <%= order_id %> dated <%= date %> has been dispatched today. The tracking details of the courier will be updated within 24 hrs.
                        <br>
                        <br>
                        <br>The invoice for the order is available for download <a style="color:#3bb9ff" href="<%= invoice_url %>" target="_blank">here</a>.
                        <br>
                        <br>For any assistance you can mail us on <a style="color:#3bb9ff;text-decoration:none">support@Tagbit.co.</a>
                        <br>Call on 9833870098.
                        <br>
                        <br><b>Best Regards,</b>
                        <br><span style="color:#f5821f">Tagbit Team</span>	
                        <br/><br/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>