<% include header.ejs %>
<script src="/js/logomaker/helpers/list-vendors.js"></script>

<style>
    .tableRow td{
        text-align: center;
    }
</style>
<section class="page_top">
    <div class="container">
           <div class="row">
                <div class="col-md-12">
                         <h1>Vendors</h1>
                </div>
            </div>
    </div>
</section>
<div class="container admin_container table_category">
    <div class="row">
        
        <table class="tblCategories col-md-12 tableRow" border="1">
            <thead>
            <th class="col-md-2">Company NAme</th>
            <th class="col-md-2">GSTIN</th>
            <th class="col-md-2">TECH</th>
            <th class="col-md-2">Capacity</th>
            <th class="col-md-2">Status</th>
            <th class="col-md-2">Action</th>
            </thead>
        </table>
    </div>
</div>
<% include footer.ejs %>