<% include header.ejs %>
<script src="/js/logomaker/helpers/logo-params.js"></script>
<style>
    .tableRow td {
        text-align: center;
    }
</style>
<script>
    $(document).on("mouseover", '.cardItems', function () {
        $(this).find('a img').stop().animate({'margin-top': '-300px'});
        $(this).find('.card_details').stop().animate({top: '0'});
    })
    $(document).on('mouseout', '.cardItems', function () {
        $(this).find('a img').stop().animate({'margin-top': '0px'});
        $(this).find('.card_details').stop().animate({top: '240px'});
    });

</script>
<section class="page_top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Logo Parameters</h1>
            </div>
        </div>
    </div>
</section>

<div class="container admin_container table_card">
    <table class="col-md-12 tableRow" border="1" id="homePageLogoTbl1">
        <tr>
            <th>Logo</th>
            <th>Alignment</th>
            <th>Category</th>
            <th>Title</th>
        </tr>
    </table>
</div>
<% include footer.ejs %>