<!Doctype html>
<html>
<head><title>.::Tagbit::.</title>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body style="padding:0; margin:0;font-size:15px; font-family:Roboto; color: #999;">
<!--Outer container -->
<div style="max-width:616px; margin-left:auto; margin-right:auto; border:1px solid #383838;">
	<div style="padding-left:8px; padding-right:8px; border-top:10px solid #505BDA; border-bottom:10px solid #B308F8; padding-top:10px; padding-bottom:10px;">
		<!--Outer Table -->
		<table style="width:600px;border:none;" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" valign="top" style="padding-bottom:10px;">
					<!--Header Table -->
                    <a href="http://tagbit.co" style="border:none; outline:none;"><img src="https://www.tagbit.co/img/email-templates/emailheader.png"
                        alt="Tagbit"/></a>
					<!--Header Table -->
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" style="padding-top:5px; padding-bottom:15px;">
					<!--Navigation Table -->
					<!--Header Table -->
					<table style="width:100%;border:none;" cellpadding="10px" cellspacing="0">
						<tr>
							<td align="right" valign="middle"
								style="width:33%; background-color:#f3f3f3; padding-top:5px; padding-bottom:5px;">
								
                                <a href="https://www.tagbit.co/editProfile" style="color:#4c4e4e;border:none;outline:none;text-decoration:none;font-size:12px;">My Account</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style="font-size: 18px;">
					Hi <b><%= name %></b>,<br/>
                    <br/>
                    <div style="font-size: 18px;margin:0 20px 0 20px;text-align: center;">
						Congratulations, you have successfully purchased high resolution logo and <a href="https://www.tagbit.co/design-business-card-online">business cards</a> for <b><%= company %></b>.<br/>
					<br/>
					<%- card_details.replace(new RegExp("\n", 'g'), "\n") %><br/>
					<br/>

					We have attached the logo files in SVG, PNG, JPEG and PDF formats with this email.
					You can also download these files from "My Designs" page of <a href="https://www.tagbit.co/mydesigns">Our website</a> at any time!!

					You will receive your business card in 3-12 business days. Tracking number will be provided ASAP.<br/>
					<br/>
					Now you can print letter heads, envelopes, brochures, t-shirts, flyers and lot more with your logo. Reach us, if you want to print any of the above mentioned things, we will be happy to execute orders for same.<br/>
					
                                        <% if (typeof otherProducts != "undefined" && otherProducts) {%>
                                            <p>Also you have the following product(s)</p>
                                            <%- otherProducts %>    
                                        <% } %>
                                        <br/>
						<!--Not just business cards, you can do a lot more with your logo. Below are the few options.<br/>-->
					</div>
					<br/>
					Regards,<br/>
					<a href="https://www.tagbit.co">Tagbit Team</a> <br/>
				</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>