Hi <%= name %>,

Congratulations, you have successfully purchased high resolution logo and business cards for <%= company %>.

<%= card_details.replace(new RegExp("\n", 'g'), "\n").replace(new RegExp("<b>", 'g'), "").replace(new RegExp("</b>", 'g'), "") %>

We have attached the logo files in SVG, PNG, JPEG and PDF formats with this email.
You can also download these files from "My Designs" page of <a href="https://www.tagbit.co/mydesigns">Our website</a> at any time!!


You will receive your business card in 3-12 business days. Tracking number will be provided ASAP.

Now you can print letter heads, envelopes, brochures, t-shirts, flyers and lot more with your logo. Reach us, if you want to print any of the above mentioned things, we will be happy to execute orders for same.

Regards,
Tagbit Team