<!DOCTYPE html>
<html lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>:: Tagbit ::</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="//www.tagbit.co/img/email/freelogo_favicon.ico" type="image/x-icon">
<link href="style.css" type="text/css" rel="stylesheet">

<!--/Changeup css -->
<style type="text/css">
	body 					{ margin:0; padding:0; font-family: open sans;}
	table 					{ width:100%;}

	.text-left 				{ text-align: left;}
	.text-center 			{ text-align: center; position: relative;}
	.text-right 			{ text-align: right;}

	p 						{ font-size: 14px; color:#454545;}
	p.small-text 			{ font-size: 12px; color:#808080;}
	p.small-text a 			{ color:#666666; padding:10px 0; text-decoration:none;}
	p.small-text a:hover 	{ color:#00cccb; text-decoration:none;}
	p.footer-text 			{ font-size: 12px; color:#1e1e1e;}
	p.footer-text a 		{ color:#2ac1c0; padding:10px 0; text-decoration:none;}
	p.footer-text a:hover	{ color:#1e1e1e;}

	#wrap 					{ width:940px; background: #f7f7f7; margin:0 auto; padding:0 165px 100px;}
	#inner-wrap 			{ width: 100%; background: #fff; margin: 0 auto; padding:20px 28px; border: 1px solid #dedede;}
	
	.social-media 			{ float: right;}
	.fb, .twitter, .gplus, 
	.instagram 				{ display: inline-block; width:35px; height: 20px; -webkit-transition: background .3s ease-in-out; -moz-transition: background .3s ease-in-out; 
							  -ms-transition: background .3s ease-in-out; -o-transition: background .3s ease-in-out; transition: background .3s ease-in-out;}
	.fb:hover, .twitter:hover, 
	.gplus:hover, 
	.instagram:hover 		{ display: inline-block; width:35px; height: 20px; -webkit-transition: background .3s ease-in-out; -moz-transition: background 														 .3s ease-in-out; -ms-transition: background .3s ease-in-out; -o-transition: background .3s ease-in-out; transition: background .3s ease-in-out;}
	.fb 					{ background: url(//www.tagbit.co/img/email/sprite_social_icons.png) 0 0 no-repeat;}
	.fb:hover 				{ background: url(//www.tagbit.co/img/email/sprite_social_icons.png) 0 -31px no-repeat;}
	.twitter 				{ background: url(//www.tagbit.co/img/email/sprite_social_icons.png) -37px 0 no-repeat;}
	.twitter:hover 			{ background: url(//www.tagbit.co/img/email/sprite_social_icons.png) -37px -31px no-repeat;}
	.gplus 					{ background: url(//www.tagbit.co/img/email/sprite_social_icons.png) -72px 0 no-repeat; }
	.gplus:hover 			{ background: url(//www.tagbit.co/img/email/sprite_social_icons.png) -72px -31px no-repeat; }
	.instagram 				{ background: url(//www.tagbit.co/img/email/sprite_social_icons.png) -107px 0 no-repeat;}
	.instagram:hover 		{ background: url(//www.tagbit.co/img/email/sprite_social_icons.png) -107px -31px no-repeat;}
	
	.margin					{ margin-top:20px;}
	.nav					{ background: #2ac1c0;}
	.nav ul 				{ padding: 0;}
	.nav ul li 				{ display: inline-block;}
	.nav ul li a 			{ font-size: 12px; color:#fff; text-decoration:none; padding:0 28px;}
	.nav ul li a:hover 		{ color:#000;}

	.banner					{ background: url(//www.tagbit.co/img/email/banner.jpg) 0 0 no-repeat; position: relative; height: 338px;}
	.banner-logo img		{ position: absolute; left: 220px; top:194px;}

	.content p a 			{ color: #0ed7d6; text-decoration: none;}
	.content p a:hover		{ color: #454545; text-decoration: none;}
	.content p span 		{ display: block; margin-bottom: 10px;}

	.special-offer 			{ background: #dfdfdf; width:90%; padding:15px;}
	.border					{ border:2px dotted #cecece; position: relative;}
	.border h1 				{ color:#00cccb; font-size:60px; font-weight: 800; margin: 0;}
	.border h2 				{ color:#000; font-size:25px; font-weight: 700; margin:0;}
	.border h3 				{ color:#555555; font-size:26px; font-weight: 800;}
	.border h3 a 			{ color:#00cccb; text-decoration: none;}
	.border h3 a:hover 		{ color:#555555;}

	.bullet-points 			{ padding: 0; margin: 0}
	.bullet-points li 		{ background: url(//www.tagbit.co/img/email/bullet.jpg) 0 0 no-repeat; list-style: none; font-size: 14px; line-height: 22px; padding:1px 0 20px 45px; 					  margin-left:0;}

	.logos					{ width: 83%; margin: 15px auto;}
	.logos .header 			{ background: #00cccb; color: #454545; text-align: center; text-transform: uppercase; padding:10px 0;}
	.logo-wrap				{ padding: 6px; width: 123px; height:123px; margin:20px auto 0; border: 1px solid #dedede;}
	.logo-wrap img 			{ border:1px solid #517fa6; width: 122px; height:122px;}

	.card-wrap				{ padding: 6px ; border: 1px solid #dedede; width: 197px; height:93px; margin:20px auto 0;}
	.card-wrap img 			{ border:1px solid #517fa6; width: 196px; height: 92px;}

	.product-wrap			{ padding: 6px; border: 1px solid #dedede; width: 197px; height:197px; margin:20px auto 0;}
	.product-wrap img 		{ border:1px solid #517fa6; width: 196px; height: 196px;}

	.footer 				{ background: #f8f8f8; padding: 15px; text-align: center;}
	.footer h4 				{ font-size: 14px; color: #757575;}

	.footer .social-media	{ float: none;}
	.footer .fb, .footer 
	.twitter, .footer .gplus, 
	.footer .instagram		{ height: 42px; width: 42px;}
	.footer .fb 			{ background: url(//www.tagbit.co/img/email/footer_social_media.png) 0 0 no-repeat;}
	.footer .fb:hover 		{ background: url(//www.tagbit.co/img/email/footer_social_media.png) 0 -44px no-repeat;}
	.footer .twitter 		{ background: url(//www.tagbit.co/img/email/footer_social_media.png) -44px 0 no-repeat;}
	.footer .twitter:hover 	{ background: url(//www.tagbit.co/img/email/footer_social_media.png) -44px -44px no-repeat;}
	.footer .gplus 			{ background: url(//www.tagbit.co/img/email/footer_social_media.png) -89px 0 no-repeat; }
	.footer .gplus:hover 	{ background: url(//www.tagbit.co/img/email/footer_social_media.png) -89px -44px no-repeat; }
	.footer .instagram 		{ background: url(//www.tagbit.co/img/email/footer_social_media.png) -134px 0 no-repeat;}
	.footer .instagram:hover { background: url(//www.tagbit.co/img/email/footer_social_media.png) -134px -44px no-repeat;}
</style>
<!--/.Changeup css -->

</head>

<body>
<table cellpadding="0" cellspacing="0" id="wrap"><!-- /Wrapper -->
	<tr>
		<td class="text-center"><p class="small-text"></p></td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" id="inner-wrap"><!-- /Inner Wrapper -->
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0"><!-- /Header -->
							<tr>
								<td class="text-left"><a href="https://www.tagbit.co/" target="_blank" title="Online Free Logo"><img src="https://www.tagbit.co/img/email/online_free_logo.jpg" alt="Online Free Logo"></a></td>
								<td class="text-right">
									<div class="social-media">
										<a href="https://www.facebook.com/tagbit?ref=tn_tnmn" target="_blank" class="fb" title="Facebook"></a>
										<a href="https://twitter.com/FreeLogoOnline" target="_blank" class="twitter" title="Twitter"></a>
										<a href="https://plus.google.com/u/0/+tagbitmake-logo-online/about" target="_blank" class="gplus" title="Google +"></a>
										<a href="#" class="instagram" title="Instagram"></a>
									</div>
								</td>
							</tr>
						</table><!-- /.Header -->
					</td>
				</tr>
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" class="margin"><!-- /Menu -->
							<tr>
								<td class="nav">
									<ul>
										<li>
											<a href="#" title="Your Designs">Your Designs</a>
											<a href="#" title="Saved Logos">View saved logos</a>
											<a href="#" title="Busness cards">Business Card</a>
											<a href="#" title="Logo Maker">Logo Maker</a>
										</li>
									</ul>
								</td>
							</tr>
						</table><!-- /.Menu -->
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0"><!-- /Banner -->
							<tr>
								<td class="banner"></td>
							</tr>
						</table><!-- /Banner -->
					</td>
				</tr>
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" class="margin content"><!-- /Content -->
							<tr>
								<td>
									<p><span id="name">Hi Suraj,</span>Thank you for designing “Logo name” Logo at <a href="https://www.tagbit.co/" target="_blank" title="Online Free Logo">Online Free Logo</a></p>
								</td>
							</tr>
						</table><!-- /.Content -->
					</td>
				</tr>
				<tr>
					<td class="text-center">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<table cellspacing="0" cellpadding="0" class="special-offer margin"><!-- Special Offer -->
										<tr>
											<td class="border">
												<p>Purchase it before anyone else takes it!<br>We are offering discount of </p>
												<h1>40%</h1>
												<h2>FLAT</h2>
												<h3>So Hurry, <a href="#" target="_blank" title="Buy Now">BUY NOW!</a></h3>
											</td>
										</tr>
									</table><!-- Special Offer -->
								</td>
								<td class="text-center"><img src="//www.tagbit.co/img/email/special_offer.png" alt="Special"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" class="margin"><!-- /Bullet Content -->
							<tr>
								<td>
									<ul class="bullet-points">
										<li>Your logo will be UNIQUE.  Once any logo is purchased, we don’t allow any other entrepreneur to purchase it.</li>
										<li>You can play with your logo design for multiple times. Yes, it is true.</li>
										<li>We provide .pdf, .svg,. png and .jpeg file formats of “Printbindaas” logo. It means you can use your logo for large scale and high resolution printing applications like banners, packaging, mailers, t-shirts, business cards, letter heads, mugs, etc</li>
									</ul>
								</td>
							</tr>
						</table><!-- /.Bullet Content -->
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" class="logos"><!-- /Saved Logos -->
							<tr>
								<td class="header">SAVED LOGOS</td>
							</tr>
							<tr>
								<td>
									<table cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<div class="logo-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_logo.jpg" alt="Online free Logo"></a>
												</div>
											</td>
											<td>
												<div class="logo-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_logo.jpg" alt="Online free Logo"></a>
												</div>
											</td>
											<td>
												<div class="logo-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_logo.jpg" alt="Online free Logo"></a>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<div class="logo-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_logo.jpg" alt="Online free Logo"></a>
												</div>
											</td>
											<td>
												<div class="logo-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_logo.jpg" alt="Online free Logo"></a>
												</div>
											</td>
											<td>
												<div class="logo-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_logo.jpg" alt="Online free Logo"></a>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table><!-- /.Saved Logos -->
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" class="logos"><!-- /Recommended Business Cards -->
							<tr>
								<td class="header">RECOMMENDED BUSINESS CARDS</td>
							</tr>
							<tr>
								<td>
									<table cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<div class="card-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_card.jpg" alt="Online free Logo"></a>
												</div>
											</td>
											<td>
												<div class="card-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_card.jpg" alt="Online free Logo"></a>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<div class="card-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_card.jpg" alt="Online free Logo"></a>
												</div>
											</td>
											<td>
												<div class="card-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_card.jpg" alt="Online free Logo"></a>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table><!-- /.Recommended Business Cards -->
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" class="logos"><!-- /Recommended Promotional Products -->
							<tr>
								<td class="header">RECOMMENDED PROMOTIONAL PRODUCTS</td>
							</tr>
							<tr>
								<td>
									<table cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<div class="product-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_logo.jpg" alt="Online free Logo"></a>
												</div>
											</td>
											<td>
												<div class="product-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_logo.jpg" alt="Online free Logo"></a>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table cellspacing="0" cellpadding="0">
										<tr>
											<td>
												<div class="product-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_logo.jpg" alt="Online free Logo"></a>
												</div>
											</td>
											<td>
												<div class="product-wrap">
													<a href="#" target="_blank"><img src="//www.tagbit.co/img/email/default_logo.jpg" alt="Online free Logo"></a>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table><!-- /.Recommended Promotional Products -->
					</td>
				</tr>
				<tr>
					<td><p class="footer-text">If you have any queries or doubts, feel free to reach us at <a href="mailto:support@tagbit.co">support@tagbit.co</a>.<br>We will be delighted to assist you.</p></td>
				</tr>
				<tr>
					<td>
						<table cellspacing="0" cellpadding="0" class="footer"><!-- /Footer -->
							<tr>
								<td>
									<h4>FOLLOW US ON</h4>
								</td>
							</tr>
							<tr>
								<td>
									<div class="social-media">
										<a href="https://www.facebook.com/tagbit?ref=tn_tnmn" target="_blank" class="fb" title="Facebook"></a>
										<a href="https://twitter.com/FreeLogoOnline" target="_blank" class="twitter" title="Twitter"></a>
										<a href="https://plus.google.com/u/0/+tagbitmake-logo-online/about" target="_blank" class="gplus" title="Google +"></a>
										<a href="#" class="instagram" title="Instagram"></a>
									</div>
								</td>
							</tr>
						</table><!-- /Footer -->
					</td>
				</tr>
			</table><!-- /.Inner Wrapper -->
		</td>
	</tr>
</table><!-- /.Wrapper -->
</body>
</html>