<!Doctype html>
<html>
<head><title>.:: Online Free Logo::.</title>
</head>
<body style="padding:0; margin:0;font-size:15px; font-family:arial; color: #999;">
<!--Outer container -->
<div style="max-width:616px; margin-left:auto; margin-right:auto; border:1px solid #e9e9e9;">
	<div style="padding-left:8px; padding-right:8px; border-top:10px solid #01cccb; border-bottom:10px solid #3fa497; padding-top:10px; padding-bottom:10px;">
		<!--Outer Table -->
		<table style="width:600px;border:none;" cellpadding="0" cellspacing="0">
			<tr>
				<td align="left" valign="top" style="padding-bottom:10px;">
					<!--Header Table -->
					<table style="width:600px;border:none;" cellpadding="0" cellspacing="0">
						<tr>
							<td align="left" valign="bottom">
								<a href="http://Tagbit.co" style="border:none; outline:none;"><img src="https://www.tagbit.co/img/email-templates/logo.jpg"
																											alt="Online Free Logo"/></a>
							</td>
							<td align="center" valign="bottom" style="padding-bottom:8px;">
								<span style="display:block;color:#3fa497;"><a href="https://www.tagbit.co/mydesigns" style="color:#3fa497;border:none;outeline:none;text-decoration:none;margin-right:5px;">View Saved Logos</a>|<a href="https://www.tagbit.co/logodesigner" style="color:#3fa497;border:none;outeline:none;text-decoration:none; margin-left:5px;">Create New Logos</a></span>
							</td>
						</tr>
					</table>
					<!--Header Table -->
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" style="padding-top:10px; padding-bottom:10px;">
					<!--Navigation Table -->
					<!--Header Table -->
					<table style="width:100%;border:none;" cellpadding="0" cellspacing="0">
						<tr>
							<td align="center" valign="middle"
								style="width:25%; background-color:#e9e9e9; padding-top:10px; padding-bottom:10px;">
								<a href="https://www.tagbit.co/mydesigns"
								   style="color:#3fa497;border:none;outeline:none;text-decoration:none;">LOGOS</a>
							</td>
							<td align="center" valign="middle"
								style="width:50%; background-color:#e9e9e9; padding-top:10px; padding-bottom:10px;">
								<a href="https://www.tagbit.co/mydesigns" style="color:#3fa497;border:none;outeline:none;text-decoration:none;">BUSINESS CARDS</a>
							</td>
							<td align="center" valign="middle"
								style="width:25%; background-color:#e9e9e9; padding-top:10px; padding-bottom:10px;">
								<a href="https://www.tagbit.co/editProfile" style="color:#3fa497;border:none;outeline:none;text-decoration:none;">MY
									ACCOUNT</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					Hi <%= name %>,<br/>
					<br/>
					Your order has been shipped with '<%= shipper_name %>', You can track the order with the order ID '<%= order_id %>'.<br/>
					The Expected date of delivery will be '<%= expected_date %>'.<br/>
					<br/>
					Regards,<br/>
					<a href="https://www.tagbit.co">Tagbit.co</a> Team
				</td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>







