<% include myHeader.ejs %>
<body>
 <!-- inner-hero-section start -->
 <section class="inner-hero-section" style="background-image: url('/images/bg/inner-hero.jpg');">
   <div class="container">
     <div class="row justify-content-center">
       <div class="col-lg-6">
         <div class="inner-hero-content text-center">
           <h2 class="inner-hero-title">About company</h2>
           <ul class="page-links">
             <li><a href="/">Home</a></li>
             <li>about</li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- inner-hero-section end -->

 <!-- section start  -->
 <section class="pt-150 pb-150">
   <div class="container">
     <div class="row justify-content-lg-between align-items-center">
       <div class="col-xl-5">
         <div class="custom-design-thumb">
           <div class="shape"><img src="/images/elements/bg-shape-1.png" alt="image"></div>
           <div class="man"><img src="/images/elements/custom-design-man.png" alt="image"></div>
         </div>
       </div>
       <div class="col-xl-7">
         <div class="custom-design-content">
           <div class="section-header">
             <h2 class="section-title text-transform-normal">Design and Sell to your customer easily</h2>
             <p>We provide you a way to sell your custom designed apparel directly to your customers without any upfront cost.</p>
           </div>
           <p>Hello there, so are you ready to follow your passion and bring your creativity to life? We are here to assist you in your journey. While having us in your support, you can design and sell your apparel to your customers without any hassel in just few clicks.</p>
        <p>Are your having any doubts about how does it works? No worries, you can just follow the link given below to learn more.</p>
           <div class="btn-area">
             <a href="./signup" class="btn btn-secondary">Start Creating</a>
             <a href="http://blog.tagbit.co/2021/03/05/how-to-sell-t-shirt-using-tagbit/" class="btn btn-primary">Learn more</a>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- section end -->

 <!-- choose-section start -->
 <section class="choose-section pt-150 pb-150" style="background-image: url('/images/bg/choose-us-bg.png');">
   <div class="container">
     <div class="row align-items-center">
       <div class="col-lg-4">
         <div class="choose-us-thumb">
           <div class="main"><img src="/images/elements/choose-from-ipad.png" alt="image"></div>
           <div class="shape">
             <img src="/images/elements/choose-us-object.png" alt="image">
             <div class="content">
               <span class="discount-rate">Custom</span>
               <p>Apparels</p>
             </div>
           </div>
           <span class="thumb-title">unique designs</span>
         </div>
       </div>
       <div class="col-lg-8">
         <div class="choose-us-content">
           <h2 class="section-title text-white mb-40 text-transform-normal">Why choose Tagbit</h2>
           <div class="row mb-none-50">
             <div class="col-lg-6 col-md-6">
               <div class="choose-us-item mb-50">
                 <div class="item-header">
                   <div class="icon"><i class="flaticon-business-and-finance"></i></div>
                   <h3 class="title">Low Cost</h3>
                 </div>
                 <p>We offer free membership for everyone and host your designed apparel for sale.</p>
               </div>
             </div><!-- choose-us-item end -->
             <div class="col-lg-6 col-md-6">
               <div class="choose-us-item mb-50">
                 <div class="item-header">
                   <div class="icon"><i class="flaticon-box"></i></div>
                   <h3 class="title">No Store Setup</h3>
                 </div>
                 <p>You do not need to setup your store, maintain your invertory or pay for its maintainance.</p>
               </div>
             </div><!-- choose-us-item end -->
             <div class="col-lg-6 col-md-6">
               <div class="choose-us-item mb-50">
                 <div class="item-header">
                   <div class="icon"><i class="flaticon-order"></i></div>
                   <h3 class="title">High Quality</h3>
                 </div>
                 <p>We provide top quality of products and services, so you don't need to worry about the satisfaction of your customers.</p>
               </div>
             </div><!-- choose-us-item end -->
             <div class="col-lg-6 col-md-6">
               <div class="choose-us-item mb-50">
                 <div class="item-header">
                   <div class="icon"><i class="flaticon-height"></i></div>
                   <h3 class="title">All Profit</h3>
                 </div>
                 <p>We understand that you have put in a lot of effort in creating the design and 100% of the profit is yours.</p>
               </div>
             </div><!-- choose-us-item end -->
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- choose-section end -->

 <!-- mission-vission-section start -->
 <section class="mission-vission-section pt-150">
   <div class="container">
     <div class="row">
       <div class="col-lg-6">
         <div class="mission-vission-thumb">
           <div class="el-1"><img src="/images/elements/happy-shopping/el-1.png" alt="image"></div>
           <div class="el-2"><img src="/images/elements/happy-shopping/el-2.png" alt="image"></div>
           <div class="el-3"><img src="/images/elements/happy-shopping/el-3.png" alt="image"></div>
           <div class="el-4"><img src="/images/elements/happy-shopping/el-4.png" alt="image"></div>
           <div class="el-5"><img src="/images/elements/happy-shopping/el-5.png" alt="image"></div>
           <div class="el-6"><img src="/images/elements/happy-shopping/el-6.png" alt="image"></div>
           <div class="el-7"><img src="/images/elements/happy-shopping/el-7.png" alt="image"></div>
           <div class="el-8"><img src="/images/elements/happy-shopping/el-8.png" alt="image"></div>
           <div class="el-9"><img src="/images/elements/happy-shopping/el-9.png" alt="image"></div>
         </div>
       </div>
       <div class="col-lg-6">
         <div class="mission-vission-content">
           <h2 class="section-title text-transform-normal mb-30">Our company mission & vision</h2>
           <p>At Tagbit, we give you the opportunity to design your custom apparel and sell them to your customers in the easiest possible way and without any upfront cost.</p>
           <div class="row mt-30 mb-none-30">
             <div class="col-sm-6">
               <div class="text-item mb-30">
                 <h3 class="title">Our mission</h3>
                 <p>We aim to provide the designers the simplest possible way to sell their designed apparel directly to their customers with any investment and hassel.</p>
               </div>
             </div><!-- text-item end -->
             <div class="col-sm-6">
               <div class="text-item mb-30">
                 <h3 class="title">Our vision</h3>
                 <p>To provide easy access of technology to the designers to assist them in bringing their creativity to life and assist them on the journey to their dreams.</p>
               </div>
             </div><!-- text-item end -->
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <!-- mission-vission-section end -->

 <!-- how-work-section start -->
 <section class="how-work-section pt-150">
   <div class="container">
     <div class="row justify-content-center">
       <div class="col-lg-6">
         <div class="section-header text-center">
           <h2 class="section-title">How it works</h2>
           <p>Understanding to work well with our system </p>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-12">
         <div class="video-thumb">
           <img src="/images/bg/video.webp" alt="image">
           <a href="" data-rel="lightcase:myCollection" class="video-icon"><i class="fa fa-play"></i></a>
         </div>
       </div>
     </div>
     <div class="row mb-none-30 pt-150 position-relative">
       <div class="item-line-1"><img src="/images/elements/line-1.png" alt="image"></div>
       <div class="item-line-2"><img src="/images/elements/line-2.png" alt="image"></div>
       <div class="col-lg-4 col-md-6 mb-30">
         <div class="how-work-item">
           <div class="icon-thumb">
             <div class="shape"><img src="/images/elements/how-work-icon-shape.png" alt="image"></div>
             <div class="shape-hover"><img src="/images/elements/how-work-icon-shape-hover.png" alt="image"></div>
             <div class="icon"><img src="/images/icon/how-work/1.png" alt="image"></div>
           </div>
           <div class="content mt-30">
             <h3 class="title mb-15">Create your mockup</h3>
             <p>Create a design for your apparel and convert it into a mockup using our platform.</p>
           </div>
         </div>
       </div><!-- how-work-item end -->
       <div class="col-lg-4 col-md-6 mb-30">
         <div class="how-work-item">
           <div class="icon-thumb">
             <div class="shape"><img src="/images/elements/how-work-icon-shape.png" alt="image"></div>
             <div class="shape-hover"><img src="/images/elements/how-work-icon-shape-hover.png" alt="image"></div>
             <div class="icon"><img src="/images/icon/how-work/2.png" alt="image"></div>
           </div>
           <div class="content mt-30">
             <h3 class="title mb-15">Product Page</h3>
             <p>Quote your price and post it on our marketplace to make it available to your customers.</p>
           </div>
         </div>
       </div><!-- how-work-item end -->
       <div class="col-lg-4 col-md-6 mb-30">
         <div class="how-work-item">
           <div class="icon-thumb">
             <div class="shape"><img src="/images/elements/how-work-icon-shape.png" alt="image"></div>
             <div class="shape-hover"><img src="/images/elements/how-work-icon-shape-hover.png" alt="image"></div>
             <div class="icon"><img src="/images/icon/how-work/3.png" alt="image"></div>
           </div>
           <div class="content mt-30">
             <h3 class="title mb-15">Sell online</h3>
             <p>Sell your custom apparel directly to your customers while we will ensure quality fulfillment.</p>
           </div>
         </div>
       </div><!-- how-work-item end -->
     </div>
   </div>
 </section>
 <!-- how-work-section end -->
<!-- blog-section start -->
<section class="blog-section pt-150 pb-150">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-header text-center">
          <h2 class="section-title" style="font-family:Quicksand, sans-serif;line-height:1.3;font-weight:600;color:#292929;">Our news update & tips</h2>
          <p style="color:#777777;">Checkout what's new and some great tips to get started</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mb-lg-0 mb-5">
        <div class="post-single">
          <div class="post-thumb"><img src="/images/blog/b1.webp" alt="image"></div>
          <div class="post-content">
            <h3 class="post-title"><a href="http://blog.tagbit.co/2021/03/05/how-to-sell-t-shirt-using-tagbit/">4 Tips to  start selling tshirts using Tagbit</a></h3>
            <div class="post-meta">
              <a href="#0" class="post-date">25 Aug 2019</a>
              <ul class="post-meta-list">
                <li><a href="#0">post by admin</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <ul class="small-post-list">
          <li>
            <div class="post-thumb"><img src="/images/blog/b17.webp" alt="image"></div>
            <div class="post-content">
              <h6 class="post-title"><a href="http://blog.tagbit.co/2020/12/22/getting-started-with-video-marketing/">Getting Started with<br>Video Marketing</a></h6>
              <ul class="post-meta">
                <li><a href="#0">post by admin</a></li>
                <li><a href="#0">22 December 2020</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="post-thumb"><img src="/images/blog/s2.jpg" alt="image"></div>
            <div class="post-content">
              <h6 class="post-title"><a href="http://blog.tagbit.co/2020/10/22/why-event-management-businesses-make-good-startups/">Getting into event <br>management business</a></h6>
              <ul class="post-meta">
                <li><a href="#0">post by admin</a></li>
                <li><a href="#0">22 Oct 2020</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="post-thumb"><img src="/images/blog/s3.jpg" alt="image"></div>
            <div class="post-content">
              <h6 class="post-title"><a href="http://blog.tagbit.co/2020/04/25/how-to-get-a-team-to-work-together/">Things that keep the<br> team together</a></h6>
              <ul class="post-meta">
                <li><a href="#0">post by admin</a></li>
                <li><a href="#0">25 April 2020</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="post-thumb"><img src="/images/blog/s4.jpg" alt="image"></div>
            <div class="post-content">
              <h6 class="post-title"><a href="http://blog.tagbit.co/2020/02/27/from-idea-to-successful-tech-company-in-8-steps/">How to get started <br>with a tech product</a></h6>
              <ul class="post-meta">
                <li><a href="#0">post by admin</a></li>
                <li><a href="#0">27 Feb 2020</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
  <!-- blog-section end -->

   <!-- subscribe-section start -->
   <div class="subscribe-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2 class="subscribe-title">Subscribe Newsletter?</h2>
          <form class="subscribe-form" action="" method="">
            <input type="email" placeholder="Email address" name="newsletterEmail" id="newsletterEmail">
            <button type="submit" class="subscribe-btn"><img src="/images/icon/paper-plane.png" alt="image"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- subscribe-section end -->

<% include myFooter.ejs %>
