<% include myHeader.ejs %>
<script>
    $(function () {
        $("#changePasswordForm").validate();
        $("#changePassword").click(function (e) {
            e.preventDefault();
            if ($('#changePasswordForm').valid()) {
                getSalt(getUser().email, function (salt) {
                    var data = {};
                    var new_salt = getNewRandomNumber(1000, 9999);
                    data.old_md5_password = MD5(salt + ":" + $("#current_password").val());
                    data.salt = new_salt;
                    data.md5_password = MD5(new_salt + ":" + $("#new_password").val());
                    doPost("/changePassword", data, function (resp) {
                        if (resp.status == 200) {
                            bootbox.alert("Password changed successfully.");
                            $("#current_password").val("");
                            $("#new_password").val("");
                            $("#confirm_new_password").val("");
                        } else {
                            bootbox.alert("Current password entered is invalid.");
                        }
                    });
                }, function (err) {
                    console.log(err);
                    bootbox.alert(typeof err == "string" ? err : "Server Error: " + err.error);
                });
            } else {
                bootbox.alert("Please fill the required fields correctly.");
            }
        });
    })
</script>
<link rel="stylesheet" href="/css/editProfile.css?v=<%= options.version %>" media="screen">
<section class="page-top page-top-logo">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top:100px;">
                <h1 class="page-common-header">Change Password</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-8 about-us-left">
            <form id="changePasswordForm">
                <div class="form-group">
                    <label for="current_password">Current Password <em>*</em></label>
                    <input type="password" class="form-control input-sm" id="current_password" name="current_password" placeholder="Enter Your Current Password" required="true">
                </div>
                <div id="changePwdDiv">
                    <div class="form-group">
                        <label for="new_password">New Password <em>*</em></label>
                        <input type="password" class="form-control input-sm" id="new_password" name="new_password" placeholder="Enter New Password" required="true" minlength="5">
                    </div>
                    <div class="form-group">
                        <label for="confirm_new_password">Confirm New Password <em>*</em></label>
                        <input type="password" class="form-control input-sm" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm New Password" required="true" minlength="5" equalTo="[name=new_password]" data-msg-equalTo="New password and Confirm password do not match.">
                    </div>
                </div>
                <button id="changePassword" class="btn btn-primary pull-right" style="margin-bottom: 10px;">Change Password</button>
            </form>
        </div>
    </div>
</div>
<% include myFooter.ejs %>