<% include myHeader.ejs %>
<body>
  <!-- inner-hero-section start -->
  <section class="inner-hero-section" style="background-image: url('/images/bg/inner-hero.jpg');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="inner-hero-content text-center">
            <h2 class="inner-hero-title">Page not found</h2>
            <ul class="page-links">
              <li><a href="/">Home</a></li>
              <li>404</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- inner-hero-section end -->

  <!-- error-section start -->
  <section class="error-section pt-150 pb-150">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="error-content text-center">
            <img src="/images/elements/404.png" alt="image">
            <h2 class="title">Sorry,Page not found found</h2>
            <p>Seems like an error has occured.</p>
            <a href="/" class="btn btn-primary">back to home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- error-section end -->

   <!-- subscribe-section start -->
   <div class="subscribe-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2 class="subscribe-title">Subscribe Newsletter?</h2>
          <form class="subscribe-form" action="" method="">
            <input type="email" placeholder="Email address" name="newsletterEmail" id="newsletterEmail">
            <button type="submit" class="subscribe-btn"><img src="/images/icon/paper-plane.png" alt="image"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- subscribe-section end -->

<% include myFooter.ejs %>