
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-ribbon" id="get-in-touch">
                <span>Get in Touch</span>
            </div>
            <div class="col-md-3">
                <div class="newsletter">
                    <h4>Newsletter</h4>
                    <p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>
                    <div class="alert alert-success hidden" id="newsletterSuccess">
                        <strong>Success!</strong> You've been added to our email list.
                    </div>
                    <div class="alert alert-danger hidden" id="newsletterError"></div>
                    <form id="newsletterForm" action="" method="">
                        <div class="input-group">
                            <input class="form-control" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
								<span class="input-group-btn">
									<button class="btn btn-default newLetterGoBtn" type="text">Go!</button>
								</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <h4>Products</h4>
                <ul class="footer-products">
                    <li><a href="/logo-design-online">Logo Maker</a></li>
                    <!-- 
                    <li><a href="/design-business-card-online">Visiting Cards</a></li>
                    <li><a href="/other/list/t-shirts">T-Shirts</a></li>
                    <li><a href="/other/design-mug-online">Mug</a></li>
                    <li><a href="/logo-design-online">Logo Design</a></li> 
                    -->
                    <li><a href="/my-designs" class="mydesigns-footer-btn">My Designs</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="contact-details">
                    <h4>Contact Us</h4>
                    <ul class="contact">
                        <li itemscope itemtype="http://schema.org/Person">
                            <p><i class="fa fa-envelope"></i> <strong>Email:</strong> 
                                <a class="supprt-mail" onmouseover="this.href=this.href.replace(/AT/g,'@').replace(/DOT/g,'.');" href="mailto:supportATTagbitDOTcom">
                                    
                                <!--<img alt="Tagbit.co email" src="/img/email-black.png"/>-->
                                </a>
								<br>
								<!-- <i class="fa fa-phone"></i> <strong>Customer Support:&nbsp;</strong> 
                                <a class="" href="javascript:void(0);">+91 7412041009</a>
								<a class="phone_anchor_div_2" href="javascript:void(0);">+91 7412041009</a>
								<a class="phone_anchor_div_1" href="tel:917412041009">+91 7412041009</a> -->
                            </p>
                        </li>
                        <li> <b>Jodhpur</b> : Dream Heights, CYB-5. Cyber Park, JODHPUR, RAJASTHAN </li>
                        <li> <b>Mumbai</b> : B42, Pravasi Industrial Estate, Goregoan East, MUMBAI, MAHARASTRA </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <ul class="social-icons">
                        <li class="facebook"><a href="https://www.facebook.com/Tagbit" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>

                        <li class="twitter"><a href="https://twitter.com/Tagbit" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>

                        <li class="linkedin"><a href="https://www.linkedin.com/company/online-free-logo" target="_blank" data-placement="bottom" rel="tooltip" title="LinkedIn">LinkedIn</a></li>

                        <li class="googleplus"><a href="https://plus.google.com/u/0/+Tagbit" target="_blank" data-placement="bottom" rel="tooltip" title="Google+">Google+</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 powered-col">
            <div class="col-md-7 col-sm-7 col-xs-12 pull-right">
                <ul class="powered-by">
                    <li class="first-child">Powered by : </li>
                    <li class="">
                        <span class="visa"></span>
                        <!--<img alt="Tagbit.co"  src="/img/VISA.png">-->
                    </li>
                    <li class="">
                        <span class="master-card"></span>
                        <!--<img alt="Tagbit.co"  src="/img/master-card.png">-->
                    </li>
                    <li class="">
                        <span class="direct-cash"></span>
                        <!--<img alt="Tagbit.co"  src="/img/image.png">-->
                    </li>
                    <li class="">
                        <span class="netbanking"></span>
                        <!--<img alt="Tagbit.co" class="netbanking-img"  src="/img/net-banking.png">-->
                    </li>
                    <li class="">
                        <span class="paytm"></span>
                        <!--<img alt="Tagbit.co" class="paytm-img"  src="/img/paytm-small.jpg">-->
                    </li>
                    <li class="">
                        <span class="paypal"></span>
                        <!--<img alt="Tagbit.co" class="paypal-img"  src="/img/paypal-icon.png">-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p>© Copyright 2018. All Rights Reserved.</p>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12" copyright-right>
                    <nav id="sub-menu">
                        <ul>
                            <li><a href="/contact-us">Contact us</a></li>
                            <li><a href="/about-tagbit">About us</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/refund-policy">Refund Policy </a></li>
                            <li><a href="/shipping-policy">Shipping Policy</a></li>
                            <li><a href="/terms-use">Terms of Use</a></li>
                            <li><a href="/tips">Tips</a></li>
                            <li><a href="/frequently-asked-questions">FAQs</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-42715764-5']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-58654251-1', 'auto');
ga('send', 'pageview');
</script>
<noscript>
 <img height="1" width="1" src="https://www.facebook.com/tr?id=1521667134566723&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/954904832/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
<!-- Google Code for Remarketing Tag -->
<!--
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
-->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 935831734;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/935831734/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<%if (global.config.USE_MIN_FILES == true) { %>
<script src="/js/lm-footer-scripts.min.js?v=<%= options.version %>"></script>
<script src="/js/common.min.js?v=<%= options.version %>"></script>
<% } else { %>

<script src="/js/thirdparty/html5.js"></script>
<script src="/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery.fancybox.js"></script>
<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/js/jquery.fancybox-buttons.js"></script>
<script type="text/javascript" src="/js/jquery.fancybox-media.js"></script>
<script type="text/javascript" src="/js/jquery.fancybox-thumbs.js"></script>
<script src="/vendor/modernizr/modernizr.js"></script>
<script src="/js/thirdparty/jquery.cookie.js"></script>
<script src="/js/thirdparty/mustache.js"></script>
<script src="/js/thirdparty/bootbox.js"></script>
<script src="/js/thirdparty/jquery-validate/jquery.validate.js"></script>
<script src="/js/thirdparty/toast/jquery.toast.min.js"></script>
<script src="/js/thirdparty/md5.js"></script>
<script src="/vendor/jquery.appear/jquery.appear.js"></script>
<script src="/vendor/jquery.easing/jquery.easing.js"></script>
<script src="/vendor/jquery-cookie/jquery-cookie.js"></script>
<script src="/vendor/bootstrap/bootstrap.js"></script>
<script src="/vendor/jquery.validation/jquery.validation.js"></script>
<script src="/vendor/jquery.stellar/jquery.stellar.js"></script>
<script src="/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="/vendor/jquery.gmap/jquery.gmap.js"></script>
<script src="/vendor/twitterjs/twitter.js"></script>
<script src="/vendor/isotope/jquery.isotope.js"></script>
<script src="/vendor/owlcarousel/owl.carousel.js"></script>
<script src="/vendor/jflickrfeed/jflickrfeed.js"></script>
<script src="/vendor/magnific-popup/jquery.magnific-popup.js"></script>
<script src="/vendor/vide/vide.js"></script>
<script src="/js/bootstrap-formhelpers.js"></script>
<script src="/js/jquery.feedback_me.js"></script>
<script src="/js/bootstrap-formhelpers-colorpicker.js"></script>
<script src="/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
<script src="/js/views/view.home.js"></script>
<script src="/js/jquery.cycle2.js"></script>
<script src="/js/jquery.cycle2.shuffle.js"></script>
<script src="/js/thirdparty/jquery.svg/jquery.svg.js"></script>
<script src="/js/thirdparty/jquery.svg/jquery.svgdom.js"></script>
<script src="/js/thirdparty/jquery.sticky.js"></script>
<script type="text/javascript" src="/js/expand.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/theme.init.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/logomaker/Base64.js"></script>
<script src="/js/logomaker/common.js"></script>
<script src="/js/logomaker/authenticate.js"></script>
<script src="/js/logomaker/helpers/header.js"></script>
<script src="/js/logomaker/helpers/footer.js"></script>
<% } %>
</body>
</html>
<style>
@media screen and (max-width: 1042px) {
  .phone_anchor_div_2 {
    display: none !important;
  }
}

@media screen and (min-width: 1042px) {
  .phone_anchor_div_1 {
    display: none !important;
  }
}
</style>
