<% include myHeader.ejs %>
<body>
  <!-- inner-hero-section start -->
  <section class="inner-hero-section" style="background-image: url('/images/bg/inner-hero.jpg');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="inner-hero-content text-center">
            <h2 class="inner-hero-title">Community Guidelines</h2>
            <ul class="page-links">
              <li><a href="/">Home</a></li>
              <li>CG</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- inner-hero-section end -->

  <!-- privacy-section start -->
  <section class="privacy-section pt-150 pb-150">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="privacy-wrapper">
            <h3 class="title">Overview</h3>
            <p>Tagbit is a popular, respectful, and supportive platform for independent artists and designers. 
                Tagbit encourages designers to design their custom apparel and sell directly to their customers.
                bit expects its users to design their apparel considering the ethics and values of the society. 
                If we found anything on our platform against our guidelines, the content will be flagged and removed 
                immediately. A user must follow the guidelines stated below:</p>

      <h5 class="title">The Fine Print:</h5>
      <p>The paragraphs below summarize Tagbit’s approach to behavior and content. These guidelines have been made publicly available to maintain the integrity and the spirit of open communication. However, one needs to note that these guidelines are adaptable and are subject to change. Any intentional or unintentional breach of Tagbit’s guidelines will lead to severe consequences, including but not limited to formal warning, account suspension, or account closure. Tagbit has internal policies and procedures to ensure these guidelines are applied consistently and fairly. In using these guidelines, Tagbit reserves the right to remove a work or close an account at our sole discretion.</p>

			<h6 class="title">Age:</h6>
			<p> Members must be 14 years or older. This is a legal requirement as people under the age of 14 cannot enter into a legal contract with Tagbit.</p>
			<h6 class="title">Mature Content:</h6>
			<p>At Tagbit, we are very strict about the consumption of Mature Content and flag it to be visible only to users who have mature content enabled in their profile. Mature Content refers to works that include themes such as nudity, blood, weapons, alcohol, drugs, crime, adult language, and other themes that may be deemed inappropriate for certain audiences. Images that are produced solely for the intent of sexually exciting the spectator and make no attempt at making an artistic point are prohibited. Artists must state that their work is original. Failure to comply with this guideline may result in account restriction or closure.</p>
          <h6 class='title'>Tag Spamming:</h6>
          <p>Tag spamming is restricted. Tag spamming uses irrelevant or inappropriate words in the work tags - for example, using the tag blue on a job containing only red or using adult-themed tag words on children's clothing or pieces that reference children. </p>
          <h6 class='title'>Self Promotion:</h6>
          <p>Designers or members can self-promote their work but should refrain from promotions outside of specific areas. Artists can promote their stuff on their profile but need to be clear and transparent about the cost distribution and details.</p>
          <h6 class='title'>Adult Language:</h6>
          <p>Swearing at another member that is malicious or harmful is not allowed (it is considered a personal attack). Swearing and adult language are appropriate in a broader sense. Mature Content should be labelled on works that use adult language.</p>
          <h6 class='title'>Violence:</h6>
          <p>It is forbidden to create work that glorifies or trivialises brutality. Graphic representations of abuse, works that trivialise violent actions, and work or action intended to cause hate or violence are all examples of this. Works that deal with tragic events like genocides and holocausts must be treated with care. Works that have the potential to cause serious distress to the victims could be revoked.</p>
          <h6 class='title'>Racism:</h6>
          <p>Racist content or actions, as well as material intended to incite prejudice, are prohibited. We define racism as hatred or intolerance of another race, or discrimination or antagonism directed toward someone of a different race based on the belief that one's race is superior, or a belief that all members of a racial group possess characteristics unique to that race, especially to distinguish them from one another.</p>
          <p><b>Racist Terms:</b> Racial words used in a casual and/or derogatory manner are not allowed. The decision to delete a work would be based on the context in which terms are used, but as a general rule, cases where valid debate or commentary is taking place are excluded. A literary work in which the artist uses a racial slur to describe their personal encounters with prejudice, for example, would be allowed to stay, but a slogan t-shirt with the slur would not.</p>
          <p><b>Use of Symbols:</b> Symbols such as the swastika, crosses, the Confederate Flag, Hitler, and the Koran, convey important messages. These symbols and others like them can be used in the workplace, but only with extreme caution. Works may be removed if:</p>
          <ul>
			<li>If the intent is vague or too offensive, it should be avoided.</li>
			<li>The material tends to be purposefully written to break anti-vilification, anti-racist, and anti-hate rules.</li>
			<li>The material is in violation of country-specific rules.</li>
		  </ul>
          <h6 class='title'>Country-specific Laws:</h6>
          <p>Certain material, such as symbols, pictures, or words, is controlled or prohibited in some countries. Tagbit can delete works that contain such content to comply with the laws of these countries.</p>
        <h6 class='title'>Defamation or Libel</h6>
        <p>Any work or conduct that could be construed as defamatory, libellous, or vile is prohibited. Works offered as an opinion or critique on a topic of public interest, in general, do not come under this definition.</p>
        <h6 class='title'>Vilification:</h6>
        <p>We define vilification as behaviour that is intended to instil deep disdain, hatred, or extreme mockery in an individual or group of people because of their ethnicity, religion, disability, gender identity, sexuality, or because they are considered a vulnerable person or group, such as refugees. Works offered as an opinion or critique on a topic of public interest, in general, do not come under this definition.</p> 
        <h6 class='title'>Harmful Misinformation</h6>
        <p>It is not permitted to spread harmful misinformation. We describe this as any deceptive or false information that jeopardises public safety. Anti-vaccination material, for example, is not permitted because it provides deceptive and/or factually incorrect information that has a negative effect on public health. To help in this decision-making process, Tagbit consults reports from a variety of leading global bodies, such as the World Health Organization and the Centers for Disease Control.</p> 
        <h6 class='title'>Uninvited criticism:</h6>
        <p>Only provide feedback on a piece of work or a publication if it has been expressly requested. In the artist's summary, for example, the artist states that "critique of this work is welcome" or "constructive criticism is welcome." Critical remarks about the quality of work, as well as finding fault with the claims or ideas expressed by a work, are examples of criticism. Tagbit offers a welcoming and inclusive atmosphere for artists of all skill levels and backgrounds. Uninvited feedback may be disturbing and have a detrimental effect on someone who is unprepared for criticism or who is self-conscious about their job.
        </p> 
        <h6 class='title'>Harassment:</h6>
        <p>Harassing conduct involves persistently disturbing, tormenting, humiliating, bothering, pestering, or persecuting others. It is not necessary to list names for behaviour to be deemed harassing. Harassment may not have to be negative; it can also be inappropriate conduct.Harassment can include:</p> 
        <ul>
			<li>After a request to stop communicating has been received, communication continues.</li>
			<li>Intimidation, bullying, or stalking that is persistent or continues.</li>
			<li>Offline disputes or other negative family problems that haven't been resolved.</li>
		  </ul>
        <h6 class='title'>Baiting:</h6>
        <p>Baiting is described as behaviour that intentionally elicits an angry reaction or a disagreement about a subject. Baiting activity involves sending controversial or offensive messages that elicit angry or emotional responses from other members.</p> 
        <h6 class='title'>Threatening Conduct:</h6>
        <p>Threatening conduct involves endangering another member's health, protection, or well-being. Bad actions can result in the account being closed and legal action being taken.</p> 
        <h6 class='title'>Copyright and other forms of IP protection:</h6>
        <p>Tagbit abides by all copyright and trademark rules, and any work found to be infringing on these rights will be removed. You can file a formal complaint if you suspect your copyright or other intellectual property rights are being violated, following the procedures outlined in our policy.</p>
        <h6 class='title'>Deliberate Misuse:</h6>
        <p>Deliberate misuse occurs when an individual or organisation creates an account solely for the intent of violating the Tagbit Community Guidelines or for other purposes for which Tagbit was not planned. In most instances, intentional account abuse will result in account closure. If the version is related to an existing membership, the penalties for bad conduct will be extended to all of the artist's accounts. Examples of deliberate misuse include but are not limited to the following:</p>
        <ul>
			<li>Using Tagbit to host links to or advertise products that are illegal or otherwise inappropriate for Tagbit.</li>
			<li>Managing an account solely for the purpose of engaging in unacceptable behaviour as defined by our Community Guidelines.</li>
			<li>Content that has previously been moderated should not be re-uploaded.</li>
            <li>Repeatedly infringing on others' copyrights, trademark rights, other intellectual property rights, or publicity rights, or being accused of infringing on others' copyrights, trademark rights, other intellectual property rights, or publicity rights.</li>
		  </ul>
        </div>
        </div>
      </div>
    </div>
  </section>
  <!-- privacy-section end -->


   <!-- subscribe-section start -->
   <div class="subscribe-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2 class="subscribe-title" style="font-family:Quicksand, sans-serif;line-height:1.3;font-weight:600;">Subscribe Newsletter?</h2>
          <div id="newsletterForm" class="subscribe-form">
            <input type="email" id="newsletterEmail" type="text" placeholder="Email address">
            <button type="submit" class="subscribe-btn newLetterGoBtn"><img src="/images/icon/paper-plane.png" alt="image"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- subscribe-section end -->
  <% include myFooter.ejs %>