<% include myHeader.ejs %>
<section class="page-top page-top-logo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-common-header">Step by Step Online Free Logo Design Guide</h1>
            </div>
        </div>
    </div>
</section>
<div class="col-md-12 left-padding right-padding how-it-works-outer animated bounceInDown">
    <div class="col-md-1"></div>
    <div class="col-md-5 how-works-desc col-sm-6">
        <span class="how-first-span">
            Affordable, quick, easy and no design expertise. With few simple clicks, you have your own free logo to make that first and everlasting impression.
        </span>
        <span class="how-second-span">
            We want to help you create the perfect logo for your company for free, and in 4 simple steps. All we ask for is 7 minutes from you.
        </span>
    </div>
    <div class="col-md-6 how-works-profile col-sm-6">
        <img src="/img/works-img.jpg">
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 about-us-left how-it-works-content">
        	<p class="page-header-text"></p>
        </div>
        <div class="col-md-12 how-it-works-more">
            <div class="col-md-6 col-xs-12 col-sm-6">
                <div class="col-md-3 col-xs-3 col-sm-3">
                    <img src="/img/Identityhm.png">
                </div>
                <div class="col-md-9 col-xs-9 col-sm-9">
                    <span class="comm-color page-span-head">Step 1: Enter the name of your company</span>
                    <p>What is the name that you want in your logo? Feed in the name of your company and your industry, and it will reflect in your logo. It’s simple.</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6">
            <div class="col-md-3 col-xs-3 col-sm-3">
                    <img src="/img/SelectLogohm.png">
                </div>
                <div class="col-md-9 col-xs-9 col-sm-9">
                    <span class="comm-color page-span-head">Step 2: Select Logo</span>
                    <p>Choose from over a 1000 free logo designs, depending on your industry and your requirements. Select the one that fits your needs the best and get ready to customise it.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 how-it-works-more border-more">
            <div class="col-md-6 col-xs-12 col-sm-6">
            <div class="col-md-3 col-xs-3 col-sm-3">
                    <img src="/img/Customizelogohm.png">
                </div>
                <div class="col-md-9 col-xs-9 col-sm-9">
                    <span class="comm-color page-span-head">Step 3: Customize</span>
                    <p>Edit the graphic, colours ad text of your logo in our easy to use online free logo maker. You can keep editing it and try different options until you get your perfect logo.</p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6">
            <div class="col-md-3 col-sm-3 col-xs-3">
                    <img src="/img/Download.png">
                </div>
                <div class="col-md-9 col-xs-9 col-sm-9">
                    <span class="comm-color page-span-head">Step 4: Download</span>
                    <p>Voila! save and download your logo. Once you pay and download high resolution logo files, they are removed from our site.</p>
                </div>
            </div>
        </div>
    <div class="border-works-effect"></div>
    <div class="row logobg">
        <div class="container">
            <div class="row center ">
                <div class="col-md-12">
                    <h2 class="short word-rotator-title">
                        We're not the only ones <strong><span class="word-rotate"> <span class="word-rotate-items"> <span> excited </span> <span>happy</span> </span> </span></strong> about Logo maker... </h2>
                    <h4 class="custom10">1000s of customers across the globe make logo with us. Go through a few of the sample logos.</h4>
                </div>
            </div>
            <div class="row center">
                <div class="owl-carousel" data-plugin-options='{"items": 6, "singleItem": false, "autoPlay": true}'>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/aqua-drop.png" alt="Online FreeLogo">
                    </div>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/coffee-world.png" alt="Online FreeLogo">
                    </div>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/colorfly.png" alt="Online FreeLogo">
                    </div>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/drama-club.png" alt="Online FreeLogo">
                    </div>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/fireball.png" alt="Online FreeLogo">
                    </div>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/FITNESS-WORLD.png" alt="Online FreeLogo">
                    </div>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/flyhigh-airline.png" alt="Online FreeLogo">
                    </div>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/global-world.png" alt="Online FreeLogo">
                    </div>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/HOLIDAY.png" alt="Online FreeLogo">
                    </div>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/hot-pizza.png" alt="Online FreeLogo">
                    </div>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/party-night.png" alt="Online FreeLogo">
                    </div>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/RISE-UNITED.png" alt="Online FreeLogo">
                    </div>
                    <div>
                        <img class="img-responsive" src="/img/clientLogo/the-playroom.png" alt="Online FreeLogo">
                    </div>
                </div>
                <div class="home-get-started">
                <a class="logo-view-more" href="/logo-design-online">Get Started</a>
                </div>
            </div>
        </div></div>
    </div>
</div>
<% include myFooter.ejs %>