<% include myHeader.ejs %>
<body>
  <!-- inner-hero-section start -->
  <section class="inner-hero-section" style="background-image: url('/images/bg/inner-hero.jpg');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="inner-hero-content text-center">
            <h2 class="inner-hero-title">Frequently asked questions</h2>
            <ul class="page-links">
              <li><a href="/">Home</a></li>
              <li>faq</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- inner-hero-section end -->

  <!-- faq-section start -->
  <section class="faq-section pt-150 pb-150">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-header text-center">
            <h2 class="section-title">Have any question</h2>
            <p>Here is a list of few common questions that you may encounter while using our platform </p></div>
          <div class="faq-wrapper mt-50">
            <ul class="nav justify-content-center mb-50" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" area-controls="general" area-selected="true">general</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="design-tab" data-toggle="tab" href="#design" role="tab" area-controls="design" area-selected="false">designing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" area-controls="payment" area-selected="false">payment & shipping</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade active show in" id="general" role="tabpanel" area-labelledby="general-tab">
                <div class="accordion cmn-accordion" id="faqAccordion-two">
                  <div class="card">
                    <div class="card-header" id="h-one">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-one" area-expanded="false" area-controls="c-one">
                        <span class="text">What is Tagbit?</span>
                      </button>
                    </div>
                    <div id="c-one" class="collapse" area-labelledby="h-one" data-parent="#faqAccordion-two">
                      <div class="card-body">
                        <p>Tagbit is a platform that provide you a way to sell your custom designed apparel</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-two">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-two" area-expanded="false" area-controls="c-two">
                        <span class="text">How does it work?</span>
                      </button>
                    </div>
                    <div id="c-two" class="collapse" area-labelledby="h-two" data-parent="#faqAccordion-two">
                      <div class="card-body">
                        <p>Using Tagbit is really simple, you just need to follow the steps:
                        <ul>
                          <li>Sign in into tagbit</li>
                          <li>Choose your product</li>
                          <li>Upload a design and generate mockup</li>
                          <li>Decide selling price and add description and keywords for your product.</li>
                          <li>Share the link of your generated product page with your customers</li>
                        </ul></p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-three">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-three" area-expanded="false" area-controls="c-three">
                        <span class="text">How does profit sharing work?</span>
                      </button>
                    </div>
                    <div id="c-three" class="collapse" area-labelledby="h-three" data-parent="#faqAccordion-two">
                      <div class="card-body">
                        <p> At Tagbit, we never take a share from your profit, everything above the base price of the product is yours. </p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-five">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-five" area-expanded="false" area-controls="c-five">
                        <span class="text">How many products can I make?</span>
                      </button>
                    </div>
                    <div id="c-five" class="collapse" area-labelledby="h-five" data-parent="#faqAccordion-two">
                      <div class="card-body">
                        <p>You can make as many products you want ; )</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-six">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-six" area-expanded="false" area-controls="c-six">
                        <span class="text">Is there any charge I need to pay to Tagbit?</span>
                      </button>
                    </div>
                    <div id="c-six" class="collapse" area-labelledby="h-six" data-parent="#faqAccordion-two">
                      <div class="card-body">
                        <p> The platform is completely free to use.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-seven">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-seven" area-expanded="false" area-controls="c-seven">
                        <span class="text">How can I generate profit?</span>
                      </button>
                    </div>
                    <div id="c-seven" class="collapse" area-labelledby="h-seven" data-parent="#faqAccordion-two">
                      <div class="card-body">
                        <p>To generate profit, you will need to set the price of the products accordingly and sell them to appropriate customers. You can go through the following article to know more : http://blog.tagbit.co/2021/03/05/how-to-sell-t-shirt-using-tagbit/</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-eight">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-eight" area-expanded="false" area-controls="c-eight">
                        <span class="text">How can I generate mockups for my products?</span>
                      </button>
                    </div>
                    <div id="c-eight" class="collapse" area-labelledby="h-eight" data-parent="#faqAccordion-two">
                      <div class="card-body">
                        <p>You can read this article to know everything about creating mockup : http://blog.tagbit.co/2021/04/18/all-you-need-to-know-about-the-mockup-builders/ </p>
                      </div>
                    </div>
                  </div><!-- card end -->				  
                </div>
              </div>
              <div class="tab-pane fade" id="design" role="tabpanel" area-labelledby="designing-tab">
                <div class="accordion cmn-accordion" id="faqAccordion-three">
				<div class="card">
                    <div class="card-header" id="h-1">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-1" area-expanded="false" area-controls="c-1">
                        <span class="text">What kind of designs can I make?</span>
                      </button>
                    </div>
                    <div id="c-1" class="collapse" area-labelledby="h-1" data-parent="#faqAccordion-three">
                      <div class="card-body">
                        <p>You can make any kind of design for your customers as long as it doesn’t violate Tagbit’s community guidelines.</p>
                      </div>
                    </div>
                  </div><!-- card end -->

				    <div class="card">
                    <div class="card-header" id="h-two">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-two" area-expanded="false" area-controls="c-two">
                        <span class="text">Is there any particular minimum requirement for the quality of design I upload?</span>
                      </button>
                    </div>
                    <div id="c-two" class="collapse" area-labelledby="h-two" data-parent="#faqAccordion-three">
                      <div class="card-body">
                        <p>Yes, you are required to upload a design without a background and a minimum of 1200 pixels along the largest side of the rectangle image.
                          Don't worry, Our image quality system will tell you about any quality issues when you upload the design.
                        </p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-4">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-4" area-expanded="false" area-controls="c-4">
                        <span class="text">Are there any color restrictions in the designs for the apparel?</span>
                      </button>
                    </div>
                    <div id="c-4" class="collapse" area-labelledby="h-4" data-parent="#faqAccordion-three">
                      <div class="card-body">
                        <p>No, there is no restriction on colors of your designs.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                </div>
              </div>
              <div class="tab-pane fade" id="payment" role="tabpanel" area-labelledby="payment-tab">
                <div class="accordion cmn-accordion" id="faqAccordion-five">
                  <div class="card">
                    <div class="card-header" id="h-11">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-11" area-expanded="false" area-controls="c-11">
                        <span class="text">Are my payments secure?</span>
                        <span class="plus-icon"></span>
                      </button>
                    </div>
                    <div id="c-11" class="collapse" area-labelledby="h-11" data-parent="#faqAccordion-five">
                      <div class="card-body">
                        <p>Yes, they are 100% secure. Don’t worry about that. Your peace of mind is our prime responsibility. Paytm is a completely secure payment gateway.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-12">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-12" area-expanded="false" area-controls="c-12">
                        <span class="text">How can I pay for my purchases?</span>
                        <span class="plus-icon"></span>
                      </button>
                    </div>
                    <div id="c-12" class="collapse" area-labelledby="h-12" data-parent="#faqAccordion-five">
                      <div class="card-body">
                        <p>You can pay using any debit or credit card, net banking and you can also pay using UPI.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-13">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-13" area-expanded="false" area-controls="c-13">
                        <span class="text">Can I pay using cash on delivery?</span>
                        <span class="plus-icon"></span>
                      </button>
                    </div>
                    <div id="c-13" class="collapse" area-labelledby="h-13" data-parent="#faqAccordion-five">
                      <div class="card-body">
                        <p>No, for now we are not accepting cash on delivery as mode of payment.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-14">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-14" area-expanded="false" area-controls="c-14">
                        <span class="text">How can I track my order?</span>
                        <span class="plus-icon"></span>
                      </button>
                    </div>
                    <div id="c-14" class="collapse" area-labelledby="h-14" data-parent="#faqAccordion-five">
                      <div class="card-body">
                        <p>You can check the printing status of your order from your dashboard and also, you will get a tracking link to check shipping status of your order once your order is shipped.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-14">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-14" area-expanded="false" area-controls="c-14">
                        <span class="text">Do you ship outside India too?</span>
                        <span class="plus-icon"></span>
                      </button>
                    </div>
                    <div id="c-14" class="collapse" area-labelledby="h-14" data-parent="#faqAccordion-five">
                      <div class="card-body">
                        <p>No, currently we are only shipping within India.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-14">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-14" area-expanded="false" area-controls="c-14">
                        <span class="text">Where do you ship in India?</span>
                        <span class="plus-icon"></span>
                      </button>
                    </div>
                    <div id="c-14" class="collapse" area-labelledby="h-14" data-parent="#faqAccordion-five">
                      <div class="card-body">
                        <p>We ship around over 27000+ pincodes all over India. You can check for delivery at location using the pin code check on product and checkout pages.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-14">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-14" area-expanded="false" area-controls="c-14">
                        <span class="text">Do I need to pay different shipping prices according to my location?</span>
                        <span class="plus-icon"></span>
                      </button>
                    </div>
                    <div id="c-14" class="collapse" area-labelledby="h-14" data-parent="#faqAccordion-five">
                      <div class="card-body">
                        <p>No, we only charge a minimum fixed shipping charge per order.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                  <div class="card">
                    <div class="card-header" id="h-14">
                      <button class="acc-btn collapsed" type="button" data-toggle="collapse" data-target="#c-14" area-expanded="false" area-controls="c-14">
                        <span class="text">Do you provide express shipping?</span>
                        <span class="plus-icon"></span>
                      </button>
                    </div>
                    <div id="c-14" class="collapse" area-labelledby="h-14" data-parent="#faqAccordion-five">
                      <div class="card-body">
                        <p>No, we only provide standard shipping for now.</p>
                      </div>
                    </div>
                  </div><!-- card end -->
                </div>
              </div>
                </div>
              </div>                		  
          <div class="question-form-wrapper mt-80">
            <h3 class="title">Ask your Question</h3>
            <div class="form-wrapper">
              <form class="question-form">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="faq_name" id="faq_name" placeholder="Name">
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" name="faq_email" id="faq_email" placeholder="Email">
                  </div>
                  <div class="form-group col-lg-12">
                    <textarea name="faq_message" id="faq_message" placeholder="Write your question?"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">ask question</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
	</div>
  </section>
  <!-- faq-section end -->

   <!-- subscribe-section start -->
   <div class="subscribe-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2 class="subscribe-title">Subscribe Newsletter?</h2>
          <form class="subscribe-form" action="" method="">
            <input type="email" placeholder="Email address" name="newsletterEmail" id="newsletterEmail">
            <button type="submit" class="subscribe-btn"><img src="/images/icon/paper-plane.png" alt="image"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- subscribe-section end -->
<% include myFooter.ejs %>