<footer class="footer-section footer_custom">
    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-3">
            <div class="footer-widget widget-about">
              <a href="home" class="footer-logo-text mb-20">Tagbit</a>
              <p>Tagbit is a venture that allows people to create and sell custom apparel online without any upfront cost.</p>
              <ul class="payment-metho-list">
                <li><img src="/images/icon/payment/payment.webp" alt="image"></li>
              </ul>
            </div>
          </div><!-- footer-widget end -->
          <div class="col-lg-8 mt-lg-0 mt-5">
            <div class="row mb-none-40">
              <!--<div class="col-lg-12 mb-40">
                <form class="footer-search-form mb-40">
                  <input type="email" name="footer-search_keyword" id="footer-search_keyword" placeholder="Search Keyword">
                  <button type="submit"><i class="flaticon-vr-glass"></i></button>
                </form>
              </div>-->
              <div class="col-lg-3 col-md-3 col-sm-6 mb-40">
                <div class="footer-widget widget-short-links">
                  <h4 class="footer-title">Useful links</h4>
                  <ul class="footer-short-link-list">
                    <li><a href="/community-guidelines">Community Guidelines</a></li>
                    <li><a href="/shippingPolicy">shipping policy</a></li>
                    <li><a href="/refundPolicy">refund policy</a></li>
                    <li><a href="/privacyPolicy">privacy policy</a></li>
                    <li><a href="/termsUse">terms of use</a></li>
                  </ul>
                </div>
              </div><!-- footer-widget end -->
              <div class="col-lg-3 col-md-3 col-sm-6 mb-40">
                <div class="footer-widget widget-short-links">
                  <h4 class="footer-title">Solutions</h4>
                  <ul class="footer-short-link-list">
                    <li><a href="/about-tagbit">About us</a></li>
                    <li><a href="/frequently-asked-questions">FAQs</a></li>
                    <li><a href="/contact-us">24/7 support</a></li>
                  </ul>
                </div>
              </div><!-- footer-widget end -->
              <div class="col-lg-6 col-md-6 mb-40">
                <div class="footer-widget widget-contact">
                  <h4 class="footer-title">Reach us</h4>
                  <ul class="footer-contact-list">
                    <li>Mumbai : B42, Pravasi Industrial Estate, Goregoan East, MUMBAI, MAHARASTRA</li>
                    <li>Jodhpur : Dream Heights, CYB-5. Cyber Park, JODHPUR, RAJASTHAN</li>
                    <li>
                      <a href="mailto:support@tagbit.co">support@tagbit.co</a>
                    </li>
                  </ul>
                </div>
              </div><!-- footer-widget end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container text-center border-top">
        <div class="copy-right-text">
          <p>Copyright © 2020 . All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/vendor/jquery/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery.fancybox.js"></script>
  <script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="/js/jquery.fancybox-buttons.js"></script>
  <script type="text/javascript" src="/js/jquery.fancybox-media.js"></script>
  <script type="text/javascript" src="/js/jquery.fancybox-thumbs.js"></script>
  <script src="/vendor/modernizr/modernizr.js"></script>
  <script src="/vendor/jquery-cookie/jquery-cookie.js"></script>
  <script src="/js/thirdparty/jquery.cookie.js"></script>
  <script src="/js/thirdparty/mustache.js"></script>
  <script src="/js/thirdparty/bootbox.js"></script>
  <script src="/js/thirdparty/jquery-validate/jquery.validate.js"></script>
  <script src="/js/thirdparty/toast/jquery.toast.min.js"></script>
  <script src="/js/thirdparty/md5.js"></script>
  <script src="/vendor/jquery.appear/jquery.appear.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.js"></script>
  <script src="/vendor/bootstrap/bootstrap.js"></script>
  <script src="/vendor/jquery.validation/jquery.validation.js"></script>
  <!-- <script src="/vendor/jquery.stellar/jquery.stellar.js"></script>
  <script src="/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
  <script src="/vendor/jquery.gmap/jquery.gmap.js"></script> -->
  <script src="/vendor/twitterjs/twitter.js"></script>
  <script src="/vendor/isotope/jquery.isotope.js"></script>
  <script src="/vendor/owlcarousel/owl.carousel.js"></script>
  <script src="/vendor/jflickrfeed/jflickrfeed.js"></script>
  <!-- <script src="/vendor/magnific-popup/jquery.magnific-popup.js"></script>
  <script src="/vendor/vide/vide.js"></script> -->
  <script src="/js/bootstrap-formhelpers.js"></script>
  <script src="/js/jquery.feedback_me.js"></script>
  <!-- <script src="/js/bootstrap-formhelpers-colorpicker.js"></script> -->
  <!-- <script src="/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script> -->
  <script src="/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script src="/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
  <script src="/js/views/view.home.js"></script>
  <script src="/js/jquery.cycle2.js"></script>
  <script src="/js/jquery.cycle2.shuffle.js"></script>
  <script src="/js/thirdparty/jquery.svg/jquery.svg.js"></script>
  <script src="/js/thirdparty/jquery.svg/jquery.svgdom.js"></script>
  <script src="/js/thirdparty/jquery.sticky.js"></script>
  <script type="text/javascript" src="/js/expand.js"></script>

  <script src="/js/vendor/slick.min.js"></script>
  <script src="/js/vendor/wow.min.js"></script>
  <script src="/js/vendor/lightcase.js"></script>
  <script src="/js/vendor/jquery.countdown.min.js"></script>
  <script src="/js/vendor/jquery.easing.min.js"></script>
  <script src="js/vendor/slick.min.js"></script>
  <!--<script src="/js/vendor/TweenMax.min.js"></script>-->
  <script src="/js/vendor/jquery.paroller.min.js"></script>
  <script src="/js/vendor/tilt.jquery.min.js"></script>
  <script src="/js/thirdparty/html5.js"></script>
  <script src="/js/select2.min.js"></script>
  <!--<script src="/js/vendor/easyzoom.js"></script>-->
 

  <script src="/js/custom.js"></script>
  <script src="/js/logomaker/Base64.js"></script>
  <script src="/js/logomaker/common.js"></script>
  <script src="/js/logomaker/authenticate.js"></script>
  <script src="/js/logomaker/helpers/header.js"></script>
  <script src="/js/logomaker/helpers/footer.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/BUP.js" type="text/javascript" charset="UTF-8"></script>

    
  
  <!--<script src="/js/theme.js"></script>
  <script src="/js/theme.init.js"></script>
<script src="/js/contact.js"></script>-->




<script>
    // $(function () {
      $("#loginBtn").click(function (e) {
          e.preventDefault();
          addWaitingOverlay();
          console.log("login-start")
          signin($("#emailid").val(), $("#password").val(), function (resp) {
              var from = getURLParameterByName("from");
              if(from){
                  window.location = "/" + from;
              } else {
                  window.location = "/";
              }
              alert("You have successfully logged in.");
          }, function (err) {
              removeWaitingOverlay();
              console.log(err);
              alert(typeof err == "string" ? err : "Server Error: " + err.error);
          });
        
        
      });
  // });
  // $(function () {
    //  $("#signupForm").validate();
    $("#pageCreateAccountBtn").click(function (e) {
          e.preventDefault();
          console.log($("#pageSignupUserName").val());
            //$('#signupForm').valid()
          if($("#pageSignupUserName").val().trim() == "" || $("#pageSignupPassword").val().trim() =="" || $("#termandcondiction1").prop('checked') == false){
            alert("Please fill up all required fields")
          }else{
            if (true) {
              signup({email: $("#pageSignupUserName").val(), password: $("#pageSignupPassword").val()});
            } else {
              console.log("failure");
             alert("Please enter the valid values");
          }
          }
      });
// });
</script> 