<% include Myheader.ejs %>
<section class="page-top page-top-logo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-common-header">Why Online Free Logo</h1>
            </div>
        </div>
    </div>
</section>
<div class="about-us-left online-freelogo-content animated bounceInDown">
    <p class="main-text-freelogo">What keeps Online Free Logo ahead of its competition? What gives us our edge? It's passion for excellence ever since our inception, and our eye for perfection.</p>
    <p class="sub-text-freelogo">Our trusted brand name has helped us build long lasting relationships with entrepreneurs, small-scale company owners and even individuals that we value. But there are more reasons why we we are better.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 free-logo-accordion">
            <div class="col-md-4 col-sm-4">
                <img src="img/onfreelogo-img.jpg">
            </div>
            <div class="col-md-8 col-sm-8">
                <div class="toogle" data-plugin-toggle>
                    <section class="toggle active">
                        <label>Free</label>
                        <div class="toggle-content">
                            <p>Yes, you read it right. And there are no We understand every penny matters for start ups. Hence we have come up with this module that will give you your logo without burning a deep hole in your pocket. Indeed our cost effective services keep us ahead of competition always.</p>
                        </div>
                    </section>
                    <section class="toggle">
                        <label>Quick, easy, creative</label>
                        <div class="toggle-content">
                            <p>Logo designing can take months. We don't want you to go without an identity or face issues just because you don’t have the right logo in place. With us, you can design your logo in just seven minutes. The logo designing process is quick and efficient and the end result looks as good, or even better that a professionally designed one. Our unique, distinct and memorable logos look great in black and white as well as</p>
                        </div>
                    </section>
                    <section class="toggle">
                        <label>Easily customizable</label>
                        <div class="toggle-content">
                            <p>After choosing the right design, you might want to tweak it make your logo as per your need. You might want to change the color, the font, the layout, the alignment and a lot more for your logo. With online free logo, you can do all this with just few simple clicks of mouse. All our logo designs are easily customizable. We also offer unlimited edits to your logo. So once you have created your logo, you can modify it as many times as you want.</p>
                        </div>
                    </section>
                    <section class="toggle">
                        <label>Unlimited Options</label>
                        <div class="toggle-content">
                            <p>You will have an access to over 10000 professional logos that you can easily customise and personalize to make it unique to your company. Our extensive library is backed by a professional design team that keeps refreshing the logo options. Hence you will always find fresh and newer options.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="border-works-effect"></div>
        <div class="row logobg">
            <div class="container">
                <div class="row center">
                    <div class="col-md-12">
                    <h2 class="short word-rotator-title">
                        We're not the only ones <strong><span class="word-rotate"> <span class="word-rotate-items"> <span> excited </span> <span>happy</span> </span> </span></strong> about Logo maker... </h2>
                    <h4 class="custom27">1000s of customers across the globe make logo with us. Go through a few of the sample logos.</h4>
                    </div>
                </div>
                <div class="row center">
                    <div class="owl-carousel" data-plugin-options='{"items": 6, "singleItem": false, "autoPlay": true}'>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/aqua-drop.png" alt="Online FreeLogo">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/coffee-world.png" alt="Online FreeLogo">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/colorfly.png" alt="Online FreeLogo">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/drama-club.png" alt="Online FreeLogo">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/fireball.png" alt="Online FreeLogo">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/FITNESS-WORLD.png" alt="Online FreeLogo">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/flyhigh-airline.png" alt="Online FreeLogo">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/global-world.png" alt="Online FreeLogo">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/HOLIDAY.png" alt="Online FreeLogo">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/hot-pizza.png" alt="Online FreeLogo">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/party-night.png" alt="Online FreeLogo">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/RISE-UNITED.png" alt="Online FreeLogo">
                        </div>
                        <div>
                            <img class="img-responsive" src="img/clientLogo/the-playroom.png" alt="Online FreeLogo">
                        </div>
                    </div>
                    <div class="home-get-started">
                    <a class="logo-view-more" href="/logo-design-online">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include myFooter.ejs %>