<% include myHeader.ejs %>
<body>
  <!-- inner-hero-section start -->
  <section class="inner-hero-section" style="background-image: url('/images/bg/inner-hero.jpg');">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="inner-hero-content text-center">
            <h2 class="inner-hero-title">Refund Policy</h2>
            <ul class="page-links">
              <li><a href="/">Home</a></li>
              <li>Refund, Return and cancellation Policy</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- inner-hero-section end -->

  <!-- privacy-section start -->
  <section class="privacy-section pt-150 pb-150">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="privacy-wrapper">
            <h3 class="title">Overview</h3>
            <p>The following are the refund, return and cancellation terms of the business conducted on the website. 
              If you have placed an order for apparel from tagbit, the product will be printed exclusively for you. 
              So, we have some strict guidelines for handling the returns on our platform.</p>

      <h5 class="title">Cancellation Policy:</h5>
      <p>The Customer may opt for cancellation before the order has gone into print. 
        The indication of that is on the user dashboard under purchase history. 
        The cancellation option occurs before the order is into processing and can be cancelled without any issues.</p>

			<h5 class="title">Refund and Return Policy:</h5>
			<p>we will accept refund on the goods purchased, subject to the terms and conditions mentioned below.</p>
			<ul>
			<li>The refund is only applicable when a wrong size or wrong design has been delivered.</li>
			<li>The refund will be given for the total amount except the amount paid towards shipping and taxes applicable if any.</li>
			<li>If there are genuine quality issues regarding the product.</li>
			</ul>
			<h6 class="title">Cases Not applicable for Refunds:</h6>
      <ul>
			<li>Incorrect or outdated delivery address</li>
      <li>After three failed delivery attempts by the courier</li>
      <li>Goods damaged, used or manhandled will not be accepted for replacement or refunded.</li>
      <li>In case of minor design and color variations as while printing products, there will always be some variation in color between products you see online and products you get in hand.</li>
      <li>If the mistake is due to the customer's information, then the refund is not applicable in that case.</li>
      </ul>
			<p><b>* Note:</b> All refunds processed only when customer informs as soon as he receives it and within 7 working days.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- privacy-section end -->


   <!-- subscribe-section start -->
   <div class="subscribe-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2 class="subscribe-title" style="font-family:Quicksand, sans-serif;line-height:1.3;font-weight:600;">Subscribe Newsletter?</h2>
          <div id="newsletterForm" class="subscribe-form">
            <input type="email" id="newsletterEmail" type="text" placeholder="Email address">
            <button type="submit" class="subscribe-btn newLetterGoBtn"><img src="/images/icon/paper-plane.png" alt="image"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- subscribe-section end -->
  <% include myFooter.ejs %>