<% include myHeader.ejs %>
<link rel="stylesheet" href="/css/privacyPolicy.css?v=<%= options.version %>" media="screen"> 
<section class="page-top page-top-logo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-common-header">Logo Design Steps</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-9 about-us-left privacy-policy-page custom28">
            <p class="body-content">
                Designing the perfect logo is an art. Even though we have simplified the art for you, here are a few tips that will help you get on to the right start: 
            </p>
            <span class="content-header">Start out right</span>
            <p class="body-content">
                Give it some time. Don’t be in a hurry. Your logo is going to stay as your company’s identity for the longest time (maybe even forever). There are no short cuts. 
            </p>
            <span class="content-header">Simple is better</span>
            <p class="body-content">
                A complex logo with a hundred thousand elements, can be difficult to reproduce and even more difficult to remember. A simple logo is bang on and communicates exactly what you want to. If you are neither a designer nor an illustrator, fear not. You still can design awesome logos with Online Free Logo.
            </p>
            <span class="content-header">A logo need not be exactly what your company does</span>
            <p class="body-content">
                If you are into shoe making business, you need not have a shoe in your logo. Similarly, an industrialist need not have chimneys. Think about McDonalds, FedEx and Apple logos. No burgers, no trucks or planes, no gadgets. It’s good to have a logo that portrays an element of the company, but it’s better to have a corporate logo that can be adapted to whatever direction the company takes. 
            </p>
            <span class="content-header">Know What it Means</span>
            <p class="body-content">
                Every good logo has a story. Far beyond being simply a pretty sketch made of texts, shapes and colours, good logos are filled with meaning- both obvious and hidden. Some graphics might look cool, but if you don’t know what they mean or if they don’t tie in with the ethos of the company, the logo is going to be a big fail.
            </p>
            
            <span class="content-header">Size matters</span>
            <p class="body-content">
                The relationship between the height and width of a logo is called the aspect ratio and it is very critical. A logo that is too tall and skinny, or too wide and short, is not visually pleasing. A logo should be closer to a ‘golden mean’ (almost the aspect relationship of a business card). Square is pretty cool too – circle logos are very strong visually due to their ‘square aspect ratio’. When it comes to using a logo in social media, a square format is pretty well it.    
            </p>
            <span class="content-header">Aspect Ratios</span>
            <p class="body-content">
                The relationship between the height and width of a logo is called the aspect ratio and it is very critical. A logo that is too tall and skinny, or too wide and short, is not visually pleasing. A logo should be closer to a ‘golden mean’ (almost the aspect relationship of a business card). Square is pretty cool too – circle logos are very strong visually due to their ‘square aspect ratio’. When it comes to using a logo in social media, a square format is pretty well it.
            </p>
            <span class="content-header">Disconnecting icons and text</span>
            <p class="body-content">
               It’s best to have the textual and graphic elements as distinct pieces of artwork in your logo (as opposed to overlapping, intertwining, etc). This way, you’ll be able to use either the text or icon solo, and the logo will still stand up. 
            </p>
            <span class="content-header">Your logo is for your audience</span>
            <p class="body-content">
                You want to like your logo. Obviously. And you want it to reflect your sensibilities. But keep in mind that your logo is to appeal to your customers, and should be created with them in mind. You may be the most conservative person on the planet, but if you’re trying to market to the hip-hop crowd, your sensibilities are probably different than your ‘audience’. A logo that you ‘like’ probably won’t appeal to them. Understanding a particular industry’s ‘theme’ is important. 
            </p>
            <span class="content-header">Your logo has to have an 'instant first impression'</span>
            <p class="body-content">
                You are close to your logo, yes. This is because you know how many hours you spent to get it right. The customer doesn’t belong to the same school of thought though. Your logo will probably not have the luxury of being in your audience’s eye for a lot of time. In fact, you probably have a few seconds to grab their attention. If your logo needs to be deciphered, or has an elaborate ‘back story’, there’s little chance that it will communicate the essence of your company, service or product effectively.
            </p>
            <span class="content-header">A tagline is nice, but not as part of your logo</span>
            <p class="body-content">
                Wordy taglines require a small font that becomes illegible at smaller sizes. Also, a tagline can create a lot of visual clutter in many logos. It’s always better to have a tagline as a separate element that you can add when appropriate.
            </p>
            <span class="content-header">No cliché </span>
            <p class="body-content">
                While it can be helpful to look at logos that your competitors are using (or even people in the same industry), this should never be used as a guide to creating your logo. The idea here is to be different than your competitors. To stand out in a cluttered marketplace.
            </p>
            <span class="content-header">Color is Vitally Important</span>
            <p class="body-content">
                One of the most important considerations for logo design is the color palette, because color carries meanings and communicates ideas. Always consider what it is that the logo will be used for and whether or not the various use cases require different versions.
            </p>
            <span class="content-header">Some web colors cannot be reproduced</span>
            <p class="body-content">
                In traditional media that is. Some web colors are beyond a CMYK range – meaning that the color cannot be printed using CMYK or Pantone spot color equivalents. To make things more complicated, sometimes web safe colors can be converted successfully. Know your colours well.
            </p>
            <span class="content-header">Your logo is just the beginning</span>
            <p class="body-content">
                True, it’s an important beginning, but a beginning never the less. Don’t expect your logo to single-handedly develop your company’s ‘brand’. It is only by repeated use of your logo, combined with its reproduction on various mediums like letter heads, brochures, presentation folders etc., and your work, that will create your ‘brand’ or corporate image. You want to know why the Nike logo is so successful? The logo is successful because it’s been seen a gazillion times everywhere. Repition is the key. Having said that, however, your new logo marks the beginning of these efforts, and it’s important to get it right.
            </p>
            <span class="content-header">Don’t change. (Almost) never</span>
            <p class="body-content">
                Once you’ve developed your logo, it’s in your best interest to keep it. Brand recognition takes time. There’s an awful lot of logo clutter out there, so only by repetition will your logo break through. If you’re going to change or update your logo, think very, very long about it. 
            </p>
            
                <div class="col-md-12 right-move col-xs-12 col-sm-12">
                    <div class="get-started">
                        <a style="color: white" href="/logo-design-online" class="btn btn-lg btn-get-started">Make Logo Now</a>
                    </div>
                </div>
        </div>
        <div class="col-md-3 pull-right related-links-right-column">
            <div class="sidebar-related-links">
                <span class="related-links">Related Links</span>
                <ul class="nav nav-list primary push-bottom sidebar-dropdown">
                    <li><a href="/about-tagbit"> <i class="fa fa-info-circle"></i> About Us</a></li>
                    <li><a href="/privacy-policy"> <i class="fa fa-lock"></i> Privacy Policy</a></li>
                    <li><a href="/refund-policy"> <i class="fa fa-reply-all"></i> Refund Policy</a></li>
                    <li><a href="/shipping-policy"> <i class="fa fa-bus"></i> Shipping Policy</a></li>
                    <li><a href="/terms-use"> <i class="fa fa-list-alt"></i> Terms of Use</a></li>
                    <li class="tips-list sidebar-active"><a href="/tips"> <i class="fa fa-lightbulb-o"></i> Tips</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% include myFooter.ejs %>