

<title>.:: Online Free Logo::.</title>


<!--Outer container -->
<div style="max-width:616px; margin-left:auto; margin-right:auto; border:1px solid #383838;">
	<div style="padding-left:8px; padding-right:8px; border-top:10px solid #01cccb; border-bottom:10px solid #3fa497; padding-top:10px; padding-bottom:10px;">
		<!--Outer Table -->
		<table style="width:600px;border:none;" cellpadding="0" cellspacing="0">
			<tbody><tr>
				<td align="left" valign="top" style="padding-bottom:10px;">
					<!--Header Table -->
					<table style="width:600px;border:none;" cellpadding="0" cellspacing="0">
						<tbody><tr>
							<td align="left" valign="bottom">
								<a href="http://tagbit.co" style="border:none; outline:none;"><img src="https://www.tagbit.co/img/email-templates/logo.jpg" alt="Online Free Logo"></a>
							</td>
							<td align="center" valign="bottom" style="padding-bottom:8px;">
								<span style="display:block;color:#3fa497;"><a href="https://www.tagbit.co/mydesigns" style="color:#3fa497;border:none;outeline:none;text-decoration:none;margin-right:5px;">View Saved Logos</a>|<a href="https://www.tagbit.co/logo-design-online" style="color:#3fa497;border:none;outeline:none;text-decoration:none; margin-left:5px;">Create New Logos</a></span>
							</td>
						</tr>
					</tbody></table>
					<!--Header Table -->
				</td>
			</tr>
			<tr>
				<td align="left" valign="top" style="padding-top:10px; padding-bottom:10px;">
					<!--Navigation Table -->
					<!--Header Table -->
					<table style="width:100%;border:none;" cellpadding="0" cellspacing="0">
						<tbody><tr>
							<td align="center" valign="middle" style="width:25%; background-color:#e9e9e9; padding-top:10px; padding-bottom:10px;">
								<a href="https://www.tagbit.co/mydesigns" style="color:#3fa497;border:none;outeline:none;text-decoration:none;">LOGOS</a>
							</td>
							<td align="center" valign="middle" style="width:50%; background-color:#e9e9e9; padding-top:10px; padding-bottom:10px;">
								<a href="https://www.tagbit.co/mydesigns" style="color:#3fa497;border:none;outeline:none;text-decoration:none;">BUSINESS CARDS</a>
							</td>
							<td align="center" valign="middle" style="width:25%; background-color:#e9e9e9; padding-top:10px; padding-bottom:10px;">
								<a href="https://www.tagbit.co/editProfile" style="color:#3fa497;border:none;outeline:none;text-decoration:none;">MY
									ACCOUNT</a>
							</td>
						</tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
				<td>
					Hi &lt;%= name %&gt;,<br>
					<br>
					Congratulations, for creating business card for &lt;%= person_name %&gt;. Now you will be able to share you business identity not only with prospective customers but also with other stake holders. <br>
					<br>
					&lt;%- card_details.replace(new RegExp("\n", 'g'), "<br>\n") %&gt;
					<br>
					Tracking number will be provided ASAP. You will receive your <a href="https://www.tagbit.co/design-business-card-online">business cards</a> in 3-12 business days.<br>
					<br>
					In case, you need any further assistance, feel free to reach us.......<br>
					<br>
					<!--Not just business cards, you can do a lot more with your logo. Below are the few options.<br/>-->
					Regards,<br>
					<a href="https://www.tagbit.co">tagbit.co</a> Team
				</td>
			</tr>
		</tbody></table>
	</div>
</div>