<html>
<head>
<body>
Hello,<br/>
<br/>
A successful payment has been made.<br/>
Please look at http:/www.tagbit.co:8080 for details.<br/>
<br/>
Regards,<br/>
Tagbit Team
</body>
</head>
</html>
