<% include header.ejs %>
<script src="/js/logomaker/helpers/list-cards.js"></script>
<style>
    .tableRow td {
        text-align: center;
    }
</style>

<script type="text/javascript">
    $(document).on("mouseover", '.cardItems', function () {
        $(this).find('a img').stop().animate({'margin-top': '-300px'});
        $(this).find('.card_details').stop().animate({top: '0'});
    });
    $(document).on('mouseout', '.cardItems', function () {
        $(this).find('a img').stop().animate({'margin-top': '0px'});
        $(this).find('.card_details').stop().animate({top: '240px'});
    });
</script>

<section class="page_top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Business Cards</h1>
            </div>
        </div>
    </div>
</section>

<div class="container admin_container table_card">
    <div class="row">
        <div class="col-md-12 cardsContainer">
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.card_swap span a').on('click', function () {
        $(this).parent().next().next().removeClass('active');
    });
</script>
<% include footer.ejs %>